/* a minimalist set of CSS resets */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  padding: 90px;
}

/* section / grid */
section {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 15px;
  grid-auto-flow: column;
}

/* for collapsible FAQ */
.collapsible {
  background-color: #9CAF88;
  color: white;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

/* active and hover for collapsible */
.active,
.collapsible:hover {
  background-color: #8f9f7d;
}

/* content of collapsible */
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f4f0ef;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 17px;
}

